<div class="row p-4">

    <div class="col-12 pb-3">
        <h1>Welcome to Hachijo-Island.</h1>
    </div>


    <div class="col-12 pb-3">
        <h3>About</h3>
    </div>

    <div class="col-12 pb-3">
        <h3>Products</h3> 
    </div>

    <div class="col-12 pb-3">
        <h3>Recomend</h3> 
    </div>









        <h1 style="font-family: 'Libre Barcode 39', cursive;">Hachijo-jima is Beautiful Island.</h1>
    </div>
</div>